Input-files: *.txt address/*.txt creditcard/*.txt globals/*.txt home/*.txt header/*.txt footer/*.txt order/*.txt return_authorization/*.txt profile/*.txt receipt/*.txt reorder_items/*.txt shopping_cart/*.txt balance/*.txt invoice/*.txt transaction_history/*.txt deposit/*.txt deposit_application/*.txt credit_memo/*.txt customer_payment/*.txt wizard/*.txt list_header/*.txt payment_wizard/*.txt order_wizard/*.txt product_lists/*.txt item_details/macros/*.txt content/*.txt print_statement/*.txt quote/*.txt case_management/*.txt merchandising/macros/*.txt
Combined-file: Templates.js
Keep-files: 1
Referring-files: ../*.ssp
Version: 2
Variable-name: SC.templates